# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
build/
.next/
out/

# env
.env
.env.local
.env.*.local


# logs
*.log
npm-debug.log*
yarn-error.log*

# editors / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
Thumbs.db

# misc
coverage/
*.tsbuildinfo
.vercel
